.title{
    margin:40px 0 24px 0;
}
.tabs{
 display: flex;
}
.ingredients{
    width: 600px;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ingredients::-webkit-scrollbar{
    width: 8px;
}
.ingredients::-webkit-scrollbar-track {
    background: #2F2F37;
}
.ingredients::-webkit-scrollbar-thumb {
    background-color: #8585AD

}
.ingredients_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:272px;
    gap:8px;
    margin-bottom:32px;
}
.price{
    display: flex;
    justify-content: center;
    gap:8px;
}
.custom{
    position: relative;
}
.item__price{
    display: flex;
    justify-content: center;
}