.wrapper{
    margin-top: 96px;
}
.title {
    margin: 20px 0;
}
.content{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.error{
    position: absolute;
    top: 50%;
    left: 45%;
}